ul li a {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 10px;
    font-size:x-large;
    font-family: monospace;
}

ul {
    list-style: none;
    text-align: center;
}

li {
    display: inline-block;
}

a:hover {
    color: aqua;
}

.footer{
    text-align: center;
    padding: 50px;
    background-color: black;
    color: aliceblue;
}