.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #46577a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App{
  background-color: #46577a;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  justify-content: center;
}

.box {
  text-align: center;
  margin: 0%;
  padding: 10px 15px 15px;
  background-color: #667ba7;
  color: white;
  font-family: monospace;
  border-radius: 50%;
  animation: anim 1.5s infinite alternate ease-in-out
}

a{
  color: white;
  text-decoration: none;
}

Nav ul{
  padding: 15px;
  text-align: center;
}

.list {
  padding: 10px;
  font-size: large;
  font-family: monospace;
}

@keyframes anim{
  0%{transform:rotateY(0);}
  100%{transform:rotateY(90deg);}
}

.formulario{
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid black;
  font-family: Arial, Helvetica, sans-serif;
  background-color: grey;
  animation: anima 2s infinite alternate ease-in-out
}

@keyframes anima{
  0%{transform:rotateX(0);}
  100%{transform:rotateX(90deg);}
}

form {
  text-align: center;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  background-color: grey;
  padding-top	: 20px;
  padding-bottom: 20px;
}

.footer{
  text-align: center;
  padding: 100px;
  background-color: #46577a;
  color: white;
  border: 10px solid #667ba7;
}
